#titleStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttonStyle{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}